/* Configuration de l'écran en dessous de 640px */

@media screen and (max-width:640px){
.navbar{height: 100%;}
.centered-div{width:100%;height:50%;left: 0;top:auto;z-index: 2;margin: 0;}
.centered-div h5{padding: 0;}
.card{width: 100%;z-index: 1;}
.logo{margin-top: 0;height:100px ;}
}
footer{font-size: 10px;}