nav a{color: white;}
nav{height: 10vh;}
.logo{display: flex;margin-top: 160px;}
h2{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
    font-size: 50px;}
h5{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal}
.element{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);padding: 80px;text-align: justify;}
.outer-div{background: url('../images/background.png');background-repeat: no-repeat;background-position: 40% 100%;width: 100px;;background-size: cover;}
header{background: url('../images/sushi1.jpg');height: 300px;background-repeat: no-repeat;background-size: cover;}
.centered-div {
    width: 1200px;
    height: 400px;
    background-color:#FFFAE6;
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    
}
.outer-div {
    position: relative;
    width: 100%;
    height: 60vh; /* Prend toute la hauteur de la fenêtre */
    background-color: black;
    color: white;
    }

/*.outer-div{justify-content: flex-end;}*/
.card{width: 380px;margin-left: 75px;margin:2px;border: 0;}
.card h5,h6{text-transform: uppercase;}
.card h5{margin: 5px;font-size:25px;}
.card h6{margin-left: 30px;}
.btn{background: url('../images/footer-shadow.png');border: 0;}
.background{background-color: black;color: white;}
.row{height: 400px;}
.reserver{background-color:#A0153E;}
.container{margin:center}
.list{display: inline-block;}

#offres{background: url('../images/background.png');background-repeat: no-repeat;background-size: cover;background-position: 40%;}

.red{background: url('../images/footer-shadow.png');color: white;padding: 80px;}
.titre1{margin-right: 300px;}
.titre2{margin-right: 100px;}
.titre3{margin-right: 600px;}
.size{font-size: small;padding: 50px;}
.mb-5{padding-bottom: 50px;}
.baguette{float:right;}
.pt-2{background-color:#FDE49E ;}